services:
  backend:
    container_name: blog_backend_dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file: .env.dev.backend
    ports:
      - "3000:8080"
    volumes:
      - "./:/app"
